/*
!sites
sites/*
!sites/all
sites/all/*
!sites/all/modules
sites/all/modules/*
!sites/all/modules/custom

#-- DO NOT REMOVE -- FALLBACK IN CASE ABOVE RULES FAIL
# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
